:root {
  --text: #222222;
  --border: #dddddd;
  --button-background: #222222;
  --button-text: #ffffff;



  --ink: #141D1F;
  --ink-muted: #5B5D56;

  --accent: #80EAFF;
  --accent-strong: #00A2C2;
  --accent-hover: #B2F2FF;

  --gradient-1: #141D1F;
  --gradient-2: #80EAFF;

  --line: #D0D1C9;
  --surface: #FFF;
  --background: #ECEDE9;

  --danger: #C62B33;
  --danger-bg: #FBEDEE;

  --background-2: #ecede9;
}

body.dark {
  --text: #f5f5f5;
  --border: #444444;
  --button-background: #f5f5f5;
  --button-text: #181818;
  
  --ink: #E2E8E8;
  --ink-muted: #9BA6A5;

  --accent: #80EAFF;
  --accent-strong: #00B8D9;
  --accent-hover: #B2F2FF;

  --accent-text: #141D1F;

  --gradient-1: #0D1517;
  --gradient-2: #80EAFF;

  --line: #354144;

  --surface: #182225;
  --background: #0E1517;

  --danger: #FF6B73;
  --danger-bg: #321B1E;

  --background-2: #131D20;

}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease;
}